.bg-custom{
    background: #9152f8;
}

.card-container{
    min-height: 500px;
}

.home-item{
    width: 15rem;
}

.home-item:hover{
    text-decoration: none;
}

.home-item-icon{
    width: 65%;
    max-height: 8em;
}

.user-item-image{
    width: 10em;
    height: 10em;
}

.person-image-thumbnail{
    background: #9152f8;
}

@media (max-width: 678px) {
    .user-item-image{
        width: 5em;
        height: 5em;
    }
}